<ul class="nav navbar-nav navbar-left">
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button"
      id="favorited-subs-dropdown-btn" data-toggle="dropdown">
      Your Favorite Subs
      <span class="caret"></span>
    </button>

    <ul id="favorited-subs" class="dropdown-menu ui-sortable"
      aria-labelledby="favorited-subs-dropdown-btn">
      <% current_user.user_subs.order(:rank).each do |fav| %>
        <li data-id="<%= fav.sub.id %>">
          <a href="<%="#{root_url}#/s/#{fav.sub.name}"%>"><%=fav.sub.name%></a>
        </li>
      <% end %>
    </ul>
  </div>
</ul>

<ul class="nav navbar-nav navbar-right">
  <li>
    <div id="loading-icon" class="hidden"></div>
  </li>
  <li>
    <p class="navbar-text">Welcome, <%= current_user.username %>!</p>
  </li>
  <li>
    <%= button_to "Sign Out", session_url, method: :delete,
    class: "btn navbar-btn btn-danger"%>
  </li>
</ul>
<!-- end navbar body -->