<div class="karma">
  <% if model.user_already_voted?(current_user) %>
  <form action="<%= action %>" method="POST">
    <input type="hidden" name="_method" value="PUT"></input>
    <input type="hidden" name="vote[up]" value="true"></input>
    <%= render "votable/vote_hidden_fields", model: model %>
    <input type="submit" value="Upboat!"
      class="upvote <%= model.user_upvoted?(current_user) ?
      'active' : '' %>"></input>
  </form>
  Karma: <%= model.karma %>
  <form action="<%= action %>" method="POST">
    <input type="hidden" name="_method" value="PUT"></input>
    <input type="hidden" name="vote[up]" value="false"></input>
    <%= render "votable/vote_hidden_fields", model: model %>
    <input type="submit" value="Downboat!"
      class="downvote <%= model.user_upvoted?(current_user) ?
      '' : 'active' %>"></input>
  </form>

  <% else %>

  <form action="<%= action %>" method="POST">
    <input type="hidden" name="vote[up]" value="true"></input>
    <%= render "votable/vote_hidden_fields", model: model %>
    <input type="submit" value="Upboat!" class="upvote"></input>
  </form>
  Karma: <%= model.karma %>
  <form action="<%= action %>" method="POST">
    <input type="hidden" name="vote[up]" value="false"></input>
    <%= render "votable/vote_hidden_fields", model: model %>
    <input type="submit" value="Downboat!" class="downvote"></input>
  </form>
  <% end %>
</div>