<p>This UI has been deprecated.  Please visit <a href="">the new homepage.</a></p>

<%= puts post.link %>
<% if post.link.nil? %>
  <h1><%= post.title %></h1>
<% else %>
  <h1><a href="http://<%= post.link %>"><%= post.title %></a></h1>
<% end %>

<% post_comments_by_parent_id["toplevel"].each do |comment| %>
  <%= render "comment", comment: comment,
     post_comments_by_parent_id: post_comments_by_parent_id %>
<% end %>

<%= render "comments/form", post: post, comment: post.comments.build %>