<% if @post.link.nil? %>
  <h1><%= @post.title %></h1>
<% else %>
  <h1><a href="<%= @post.link %>"><%= @post.title %></a></h1>
<% end %>

<% @post.comments.each do |comment| %>
  <%= render "comment", comment: comment %>
<% end %>

<%= render "comments/form", post: @post, comment: @post.comments.build %>