<li class="row">
  <%= JST["karma"]({ model: comment, votingDisabled: votingDisabled }) %>

  <div class="comment-body col-xs-11">
    <%= comment.escape("owner_name") %> wrote:<br>
    <%= comment.escape("body")%>
  </div>

  <% if(comment.get("user_is_owner")) { %>
    <button class="delete-comment btn btn-danger"
            data-id="<%= comment.get("id") %>">Delete Comment</button>
  <% } %>

  <% if (Seddit.current_user) { %>
    <%= JST["comment_form"]({
      parentId: comment.get("id"),
      postId: comment.get("post_id"),
      showForm: showForm,
      formErrors: formErrors,
      formData: formData,
      formPending: formPending
    }) %>
  <% } else { %>
    <a href="<%= Seddit.ROOT_URL %>/session/new">Log in to comment!</a>
  <% } %>
</li>