<% if(Reddundancy.current_user) { %>
  <% if(model.favorite) { %>
    <button class="favorited btn btn-warning"
      data-id="<%= model.get("id") %>"
      data-class="<%= model.reddundancyClass %>">
    <span class="glyphicon glyphicon-star favorited"></span>
    <%= model.escape("followers") %></button>
  <% } else { %>
    <button class="unfavorited btn btn-warning"
      data-id="<%= model.get("id") %>"
      data-class="<%= model.reddundancyClass %>">
    <span class="glyphicon glyphicon-star-empty unfavorited"></span>
    <%= model.escape("followers")%></button>
  <% } %>
<% } else { %>
  <a href="<%= Reddundancy.ROOT_URL + '/session/new.html' %>" class="unfavorited btn btn-warning">
    <span class="glyphicon glyphicon-star-empty unfavorited"></span>
    <%= model.escape("followers")%></a>
<% } %>