<div class="karma col-xs-1">
  <% if (RedditLite.current_user) { %>
    <button
      class="upvote <%= model.vote.get("up") === true ? 'active' : '' %>
        btn btn-xs <%= votingDisabled ? 'disabled' : '' %>"
      data-id="<%= model.get("id") %>"
      data-model="<%= model.get("class_name") %>"
    >
      <span class="glyphicon glyphicon-chevron-up"
            data-id="<%= model.get("id") %>"
            data-model="<%= model.get("class_name") %>"></span>
    </button>

    <br><%= model.get("karma") %><br>

    <button
      class="downvote <%= model.vote.get("up") === false ? 'active' : '' %>
        btn btn-xs <%= votingDisabled ? 'disabled' : '' %>"
      data-id="<%= model.get("id") %>"
      data-model="<%= model.get("class_name") %>"
    >
      <span class="glyphicon glyphicon-chevron-down"
            data-id="<%= model.get("id") %>"
            data-model="<%= model.get("class_name") %>"></span>
    </button>
  <% } else { %>
    <a href="<%= RedditLite.ROOT_URL + '/session/new' %>" class="upvote btn btn-xs">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>

    <br><%= model.get("karma") %></br>

    <a href="<%= RedditLite.ROOT_URL + '/session/new' %>" class="downvote btn btn-xs">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
  <% } %>
</div>