<div class="row">
  <% if(page > 1) { %>
    <a href="#firstPage" data-page="1"class="pageNav col-xs-2"><<</a>
    <a href="#prevPage" data-page="<%= page - 1 %>" class="pageNav col-xs-1"><</a>
  <% } else { %>
    <p class="col-xs-2"><< </p>
    <p class="col-xs-1"><</p>
  <% } %>

  <% for(var i = page - range; i <= page + range; i++) {%>
    <% if (i === page) { %>
      <p class="col-xs-1"><%= page %></p>
    <% } else if(i >= 1 && i <= total_pages) { %>
      <a href="" data-page="<%= i %>" class="pageNav col-xs-1"><%= i %></a>
    <% } else { %>
      <p class="col-xs-1"></p>
    <% } %>
  <% } %>

  <% if(page < total_pages) { %>
    <a href="#nextPage" data-page="<%= page + 1 %>" class="pageNav col-xs-1">></a>
    <a href="#lastPage" data-page="<%= total_pages %>" class="pageNav col-xs-1">>></a>
  <% } else { %>
    <p class="col-xs-1">></p>
    <p class="col-xs-1">>></p>
  <% } %>
</div>