<p><a href="#/s/<%= post.get("sub_id") %>"
  >Back to <%= post.get("sub_name")%></a></p>

<div class="row">
  <%= JST["karma"]({ model: post }) %>

  <div class="post-header col-xs-11">
    <% if (post.get("link")) { %>
      <% if (post.get("link").slice(0, 4) == "http") { %>
        <h1><a href="<%= post.escape("link") %>"><%= post.escape("title") %></a></h1>
      <% } else { %>
        <h1><a href="http://<%= post.escape("link") %>"><%= post.escape("title") %></a></h1>
      <% } %>
    <% } else {%>
      <h1><%= post.escape("title") %></h1>
    <% } %>

    <% if(post.get("user_is_owner")) { %>
      <button class="delete-post btn btn-danger">Delete Post</button>
    <% } %>
  </div>

  <hr>
  <%= JST["comment_form"]({ parentId: null, postId: post.get("id")}) %>
</div>

<hr>