<div class="karma col-xs-1">
  <button class="upvote <%= (!post.vote.isNew()) &&
  post.escape("upvoted") === "true" ? 'active' : '' %>
  btn btn-xs">
  <span class="glyphicon glyphicon-chevron-up"></span></button>

  <br><%= post.get("karma") %><br>

  <button class="downvote <%= (!post.vote.isNew()) &&
  post.escape("upvoted") === "false" ? 'active' : '' %>
  btn btn-xs">
  <span class="glyphicon glyphicon-chevron-down"></span></button>
</div>

<div class="post-body col-xs-11">
  <%= post.escape("owner_name") %> posted:<br>
  <a href="#/posts/<%= post.get("id") %>"><%= post.escape("title")%></a>
</div>