<% if (Seddit.current_user) { %>
  <% if (showForm) { %>
  <button class="btn btn-primary hidden new-post-show">Submit a Post</button>
  <% } else { %>
  <button class="btn btn-primary new-post-show">Submit a Post</button>
  <% } %>

  <% if (showForm) { %>
  <form class="new-post-form">
  <% } else { %>
  <form class="hidden new-post-form">
  <% } %>
    <div id="post-form-errors"><%= formErrors %></div>

    <h3>Add a Post!</h3>
    <input type="hidden" name="post[sub_id]" value="<%= model.get("id") %>">

    <label>Title<input type="textarea" name="post[title]"
      class="post-form-title" value="<%= formData["title"] || null %>"></input></label>
    <br>

    <label>URL<input type="text" name="post[link]"
      value="<%= formData["link"] || null %>"></input></label>
    <br>

    <input type="submit" class="btn btn-success
    <%= formPending ? 'disabled' : '' %>"
    value="<%= formPending ? "Working..." : "Submit Post!" %>"></input>
  </form>
<% } else { %>
  <a href="<%= Seddit.ROOT_URL %>/session/new">Log in to add a post!</a>
<% } %>
