<div class="submission-buttons">
</div>
<a class="submission-link" href="#/s/<%= sub.escape("name") %>"><%= sub.escape("name")%></a>

<p class="submission-info">submitted <%= sub.escape("age") %> ago by <%= sub.escape("owner_name") %> to <a href="#/s/<%= sub.escape("name") %>"><%= sub.escape("name") %></p>
