<li class="post" data-id="<%= post.id %>">
  <%= render "votable/karma", model: post %>
  <div class="post-link">
    <a href="<%= post_url(post) %>"><%= post.title %></a>
  </div>
  <div class="post-num-comments">
    (<%= post.num_comments %> comments)
  </div>
</li>