<!DOCTYPE html>
<html>
<head>
  <title>Seddit</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "shared/navbar" %>

  <%= render "shared/flash" %>

  <div class="container" id="content">
    <%= yield %>
  </div>

  <script type="application/json" id="server_details_json">
    {"ROOT_URL": "<%= root_url %>"}
  </script>
  <script type="application/json" id="current_user_json">
    <% if logged_in? %>
      {"signed_in": true,
      "id": "<%= current_user.id %>"}
    <% else %>
      {"signed_in": false}
    <% end %>
  </script>

</body>
</html>
